<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- <meta name='viewport' content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_app/css/styles.css' %}" media="screen" title="Welcome" charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buena Vista Properties</title>
</head>
<body>

    <div class="holdInfo col-md-12 ">
            <div class="EnglishHeader  col-md-12 col-sm-12">
                    <nav class="navbar navbar-default col-md-12 " role="navigation">
                    <div class="navbarLeft col-md-12 " >
                            <a  class="navbar-brand" href="/">Go To Main Page</a>
                            <!-- <a class="navbar-brand" href="/logOut">logout </a> -->
                        </div>
                        </nav>
                    </div>
        
                <div class="learnCenterE col-md-6" >
                        <p id="infoL">PURCHASE: First you must decide how to buy according to your possibilities. You can buy with financing or you can buy cash. BUENAVISTA CAN HELP YOU IN QUALIFYING YOUR CREDIT OR ADVICE TO IMPROVE YOUR CREDIT. 
                            FINANCING: - You must know if you qualify for a mortgage loan, for this you must have a credit score above 650 points and have verifiable income in the last two years. Verification is through your check stubs 
                            if you are an employee or Income Tax of the last 2 years if you are self employer. - If you have SSN it can be enough to only have 600 points of record and you can buy with only 5% of down payment. 
                            - If you have ITIN you must have more than 650 points, have 25% of down payment and also have 3 credit lines, one of them with more than 3 years old. If they are husbands both must comply with this requirement.
                            - The interests assigned to you will be according to your credit record, with SSN can give you up to 4% annual interest, if you have ITIN it does not go down by 6% per year.
                            - You can calculate what home price you can buy by calculating that your monthly payment should be at most 30% of your gross monthly income. For example, if you earn $ 3300 a month in total gross,
                            your monthly payment for the mortgage must be $ 1100 maximum. Click on financial calculator to see your monthly payment. The monthly payment must include property taxes and home insurance.
                            - HOW TO OFFER: o If you meet these requirements before looking for a house you must obtain a letter of pr-approval from the mortgage. Without this letter we can not show you houses.
                            o Any offer that is made must go with the approval letter, without the letter your offer has no validity. CASH: - If the purchase is in cash, you do not need to show any credit or income.
                            You must have an identity document with photo, it can be a state ID, consular registration or passport. You must also tell if it corresponds with your ITIN. - HOW TO OFFER: o You must show that you have sufficient funds for the offer 
                            through a bank statement or a letter from your bank. The money has to be deposited in an account in the name of the person who will buy it. HOW TO CHOOSE A HOUSE: The purchase of a house is associated with many decisions that you must make before leaving to look for:
                            - FIRST: You must decide where you want to look, this is a function of several factors that may be: close to the workplace, schools for your children, close to express way. You have to focus on a city or two very close to make the search more efficient.
                            You may NOT be looking around Chicago as a function of the price. - SECOND: what features do you want in the house: how many bedrooms, how many bathrooms, if you want Basement, garage, kitchen size, yard size.
                            - THIRD: Price, decide how much you can pay if it is cash, and how much you can finance. BUENAVISTA has the experience to advise you on finding the best house for you according to your economic possibilities. 
                            HOW TO OFFER AND BUY: Once you choose the house you like, you have to prepare the offer, for that you need to know at what price to bid. The price that you put must decide depending on how much you like the chosen house,
                            if you want to ensure the purchase must offer a price very close to the list price or in some cases above the list price. Be realistic, in the current market of low prices, you can not bid for half the list price. 
                            The list price reflects a tentative price of the value of the house, which may be low or high, depending on how many people interested in the house must make the offer.
                            For example when you visit the house and there are many people watching the house, it is a sign that the price is good and if you want to insure the purchase, you must bid above that price. 
                            If the house has been in the market for many weeks and the price has not gone down, you can bid below the list price. BUENAVISTA can assist you in your decision to choose your best offer.
                            PURCHASE PROCESS The purchase process can be stressful, but BUENAVISTA can assist you in all the stages so that the process is fluid and not stressful for you.
                            Once the price has been decided you must present the offer, signing the offer and sending it accompanied by the proof of funds (pre-approval letter or bank statement if cash is purchased).
                            The offer is sent to the seller. If the offer is accepted comes back signed by the buyer, there already has the contract with a date set for closing and must send the "Earnest Money"
                            which is a money that guarantees that your offer is serious, this money will be part of the payment of the house in the closing. But if he does not close for some reason of his, for example he found a better house, this money he loses.
                            Generately the Earnest Money is from $ 1000 to $ 2000 depending on the price of the house. Expenses associated with the purchase: These expenses are closing expenses and include: - a. Lawyer .
                            - must choose a lawyer to represent you in the purchase, Its function will be to verify the legal papers of the property so that they are free of problems and can count on a clean title. The cost of a lawyer varies from $ 400 to $ 600 - b.
                            - Title and title insurance. These are the payments that you must make to the title company to obtain the title of your home. The price of it depends a lot on the city and the price of the house. It can vary from 1200 to 3500 for houses of 30,000 to 250,000 respectively.
                            - c.- Survey.- It is the plot of land of the house, it is advisable if you are buying a house, but if the yard is not fenced. In this plane the boundaries of the property are defined. The price varies from $ 350 to $ 450. - d.- Inspection: It is advisable to do an inspection of the house,
                            this must be done with a Licensed Inspector, because if the house has a serious physical problem that would cost a lot of money to repair it you can get out of the contract without losing the Earnest Money. This inspection must be made within 10 days of receipt of the contract signed by the seller. 
                            The price varies from $ 350 to $ 500 - e.- Transfers Stamps.- These are the taxes for transfer of the property, they are paid to the State and the County and sometimes also to the city. For the state it is $ 1 for every 1000 and for the County for $ 0.50 for every 1000. 
                            The closing must be done in the title house or in the lawyer's office that represents it, the payment if it is cash must be done through a wire transfer or cashier check. NEVER give the money in cash to anyone, or transfer the funds in the seller's name, always to the title house.
                            Once the purchase is closed you will receive the keys of the house, and after a couple of months you will receive the title in your name   
                        </p>
                </div>
        

            <div class="learnCenterS col-md-6" >
                <!-- <img id="logo" src="{% static 'my_app/css/logo-big.jpg' %}" alt=""> -->
                <p id="infoL">
                        COMPRA :
                        Primero debe decidir como comprar segun sus posibilidades. Puede comprar con financiamiento o puede comprar cash. BUENAVISTA PUEDE AYUDARLO EN LA CALIFIACION DE SU CREDITO O ASESORIA PARA MEJORAR SU CREDITO.        
                        FINANCIAMIENTO :
                        - Debe saber si califica para un prestamo hipotecario, para ello debe tener un puntaje de credito arriba de 650 puntos y tener ingresos verificables en los dos ultimos anos. La verificación es mediante sus talones de cheques si es empleaso o Income Tax de los 2 ultimos anos si es self employer.
                        - Si tiene SSN puede ser suficiente solo contar con 600 puntos de record y puede comprar con solo 5% de down payment.
                        - Si tiene ITIN debe tener mas de 650 puntos, contar con el 25% de down payment y ademas contar con 3 lineas de credito, una de ellas con mas de 3 anos de antigüedad. Si son esposos ambos deben cumpir con este requisito.
                        - Los intereses que le asignen estarán de acuerdo a su record de credito, con SSN pueden darle hasta 4% de interes anual, si tiene ITIN no baja de 6% anual.
                        - Puede calcular que precio de casa puede compra calculando que su pago mensual debe ser como maximo el 30% de sus ingresos gross mensuales. Por ejemplo si usten gana al mes $3300 en total gross , su pago mensual destinado a la hipoteca debe ser $1100 maximo. Click en calculadora financiera para ver su pago mesual. El pago mensual debe incluir los impuestos a la propiedad y el seguro de la casa.
                        - COMO OFERTAR :
                        o Si cumple con estos requisitos antes de buscar casa debe obtener una carta de pr-aprobacion del mortgage. Sin esta carta no podemos mostrarles casas.
                        o Toda oferta que se haga debe ir con la carta de aprobación, sin la carta su oferta no tiene validez.
                        CASH :
                        - Si la compra es en cash, no necesita ningun demostrar ningun credito ni ingresos. Debe contar con un documento de identidad con foto, puede ser un ID del estado, matricula consular o pasaporte. Debe ademas contar si corresponde con su ITIN.
                        - COMO OFERTAR:
                        o Debe demostrar que tiene los fondos suficientes para la oferta mediante un estado de cuenta del banco o una carta de su banco. El dinero tiene que estar depositado en una cuenta a nombre de quien va a comprar.
                        COMO ESCOGER CASA:
                        La compra de una casa esta asociada con muchas decisiones que Ud. debe hacer antes de salir buscar :
                        - PRIMERO : Debe decidir el lugar donde desea buscar, esto esta en funcion de varios factores que pueden ser : cercania al centro de trabajo, escuelas para su ninos, cercania a express way. Tiene que enfocarse en una ciudad o dos muy cercanas para hacer la busqueda mas eficiente. NO puede estar buscando alrededor de todo Chicago en funcion del precio.
                        - SEGUNDO : que caracteristicas desea en la casa : cuantos dormitorios, cuantos banos, si desea Basement, garage, tamano de cocina, tamano de yarda.
                        - TERCERO : Precio , decida cuanto puede pagar si es cash, y cuanto puede financiar.
                        BUENAVISTA cuenta con la experiencia para asesorarlo en buscar la mejor casa para usted según sus posibilidades economicas.
                        COMO OFERTAR Y COMPRAR:
                        Una vez que escogio la casa que le gusta hay que preparar la oferta, para ello necesita saber a que precio ofertar. El precio que le ponga debe decidirlo en funcion de cuanto le gusta la casa escogida, si desea asegurar la compra debe ofertar un precio muy cerca al precio de lista o en algunos casos por encima del precio de lista. Sea realista, en el mercado actual de precios bajos, no se puede ofertar por la mitad del precio de lista. El precio de lista refleja un precio tentativo del valor de la casa, que puede estar bajo o alto, en funcion de la cantidad de personas interesadas en la casa debe hacer la oferta. Por ejemplo cuando visita la casa y hay mucha gente viendo la casa, es sintoma que el precio esta bueno y si desea asegurar la compra, debe ofertar encima de ese precio. Si la casa ha estado en el mercado muchas semanas y el precio no ha bajado puede hacer una oferta por debajo del de lista.
                        BUENAVISTA puede asistirlo en su decision de escoger su mejor oferta.
                        PROCESO DE COMPRA
                        El proceso de compra puede ser estresante, pero BUENAVISTA puede asistirlo en todas las etapas para que el proceso sea fluido y no estresante para Ud.
                        Un vez decidido el precio debe presentar la oferta, firmando la oferta y enviandola acompanada com la prueba de fondos (carta de pre-aprobacion o estado de cuenta del banco si es compra cash). La oferta es enviada al vendedor. Si la oferta es aceptada viene de regreso firmada por el comprador, alli ya tiene el contrato con fecha fijada para el
                        cierre y debe enviar el “Earnest Money” que es un dinero que garantiza que su oferta tiene seriedad, este dinero sera parte del pago de la casa en el cierre. Pero si no cierra por alguna razon suya, por ejemplo encontro una casa mejor, este dinero lo pierde. Generalemente el Earnest Money es de $1000 a $2000 dependiendo del precio de la casa.
                        Gastos asociados a la compra :
                        Estos gastos son los gastos de cierre y comprenden:
                        - a. Abogado .- debe elegir un abogado que le represente en la compra, su funcion sera de verificar los papeles legales de la propiedad para que esten libres de problemas y pueda contar con un titulo limpio. El costo de un abogado varia de $400 a $600
                        - b.- Titulo y seguro del Titulo.- estos son los pagos que debe hacer a la compania de titulo para obtener el titulo de su casa. El precio de ello depende mucho de la ciudad y el precio de la casa. Puede variar desde 1200 hasta 3500 para casas de 30,000 hasta 250,000 respectivamente.
                        - c.- Survey.- Es el plano de terreno de la casa, es recomendable si esta comprando una casa, mas si la yarda no esta cercada. En este plano estan definidos los linderos de la propiedad. El precio varia de $350 a $450.
                        - d.- Inspeccion : Es recomendable hacer una inspeccion de la casa, esto debe hacerlo con un Inspector Licenciado, ya que si la casa tiene algun problema fisico grave que le costaria mucho dinero repararla usted puede salir del contarto sin perder el Earnest Money. Esta inspeccion debe hacerse dentro de los 10 dias de recibido el contrato firmado por el vendedor. El precio varia de $350 a $500
                        - e.- Estampillas de tranferencia.- Son los impuestos por transferencia de la propiedad, son pagas al Estado y al County y algunas veces tambien a la ciudad. Para el estado es de $1 por cada 1000 y para el County de $0.50 por cada 1000.
                        El cierre debe hacerse en la casa de titulo o en la oficina del abogado que lo representa, el pago si es cash debe hacerse mediante una transferencia bancaria (wire) o con cashier check. NUNCA entrege el dinero en cash a nadie, ni transfiera los fondos a nombre del vendedor, siempre a la casa de titulo.
                        Una vez cerrada la compra Ud. recibira las llaves de la casa, y luego de un par de meses recibira el titulo a su nombre
                </p>
            </div>   
    </div>

</body>
</html>